
.login-container {
    width: 370px;
    height: 365px;
    margin: 13rem auto;
    margin-top: 100px;
    background: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-container h2 {
    font-size: 30px;
    text-align: center;
}
.login-container form {
    margin-top: 20px;
}
.form-group {
    margin: 10px 0;
}

.form-group label {
    display: block;
    padding: 6px 0;
}

.form-group input {
    width: 100%;
    letter-spacing: 1px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    margin-top: 7px;
    width: 100%;
    font-size: 18px;
    padding: 10px ;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-user-link{
    text-decoration: none;
    color: rgb(100, 100, 240);
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
}
